<% include ../partials/header.ejs %>
<div class="container">
    <h1 class="text-center mb-4">Create a new campground</h1>
        <div class="container">
            <form action="/campgrounds" method="POST">
                <div class="form-group" id="campgroundForm">
                    <input class="form-control mb-4" type="text" placeholder="Campground Name" name="newCampground" required>
                    <input class="form-control mb-4" type="text" placeholder="IMG URL" name="URL" required>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Description</span>
                        </div>
                             <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-4 btn-block">Submit</button>
                    <a href="/campgrounds">Go Back</a>
                </div>
            </form>
        </div>
</div>

<% include ../partials/footer.ejs %>